<div class="container mt-5 w-25">
    <form>
        <h2 class="text-center">{{Title}}</h2>
        <div class="form-control">
            <label for="A">A oldal:</label>
            <input type="number" class="form-control" [(ngModel)]="A" name="A" id="A" min="1">
            <label for="B">B oldal:</label>
            <input type="number" class="form-control" [(ngModel)]="B" name="B" id="B" min="1">
            <label for="A">C oldal:</label>
            <input type="number" class="form-control" [(ngModel)]="C" name="C" id="C" min="1">
            <div class="text-center">
                <button class="btn btn-success m-2" (click)="showAlertIsDrawAble()">Számol</button>
            </div>
        </div>
    </form>
</div>
