<div class="container mt-5 w-25">
    <form>
        <h2 class="text-center">{{Title}}</h2>
        <div class="form-control">
            <label for="NetPrice">Nettó ár:</label>
            <input type="number" class="form-control" [(ngModel)]="NetPrice" name="NetPrice" id="NetPrice" min="1">
            <label for="Vat">Áfa:</label>
            <input type="number" class="form-control" [(ngModel)]="Vat" name="Vat" id="Vat" min="1">
            <div class="text-center">
                <button class="btn btn-success m-2" (click)="showAlertGrossPrice()">Számol</button>
            </div>
        </div>
    </form>
</div>
